.carousel-left-btn {
    background-color: #F7923D;
    width: 4em;
    height: 3em;
    border-radius:  0 50% 50% 0; 
}

.carousel-right-btn {
    background-color: #F7923D;
    width: 4em;
    height: 3em;
    border-radius: 50% 0 0 50%; 
}