.right-arrow {
    position: absolute;
    left: 1.5em;
    transform: translateY(-50%);
    width: 1em;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;

}

.left-arrow {
    position: absolute;
    right: 1.5em;
    transform: translateY(-50%);
    width: 1em;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;

}