.side-bar {
    border: 1px solid #c7c7c7;
    width: 20%;
    position: fixed;
}

.side-bar-link {
    padding: 10px;
    color: #000;
    font-size: .88em;
    font-weight: bold;
}

.side-bar-link:hover {
    background-color: #f7923d;
    color: #fff;
}

